@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tailwind.css";
@import "./section-1.css";

.h-12rem {
  height: 26rem;
}
.hero-info {
  width: 480px;
}
.hero .title {
  font-size: 55px;
  width: 480px;
  line-height: 1;
}
.hero .desc {
  font-size: 20px;
  width: 460px;
}
.hero .hero-img {
  position: relative;
}
/* .hero .hero-img img {
  position: absolute;
  left: 0;
} */
